{% extends 'main.html' %}
{% load static %}

{% block content %}
    <center>
    <h1 style="padding:5px;margin:5% 0%;color:white;width:80%;font-size:4vw;background-color:#14263e;border-radius:30px"><strong>Biz taklif etadigon hizmatlar</strong></h1>
    </center>
    <div class="haqida">
        <div style="margin-bottom:7%;">
            <center>
            <div class="card mb-3" style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header" style=""><strong>ANKALAYF</strong></div>
              <div class="card-body">
                <h5 class="card-title" style="text-align:left;">EKU va Ayollar salomatligi markazi</h5><hr>
                <p class="card-text" style="text-align:left;"><img width="35%" style="float:right" src="{% static 'images/ball.png' %}"  class="w-1" alt="placeholder" >"ANKALAYF" EKU va Ayollar salomatligi markazi ("ANKALIFE ECO CENTER" MChJ) 2019 yil may oyida Turkiyalik shifokor,
akusher-ginekolog, reproduktolog, tibbiyot fanlari doktori Jixangir ChAKIJI tashabbusi va muassisligida tashkil etildi. "Ankalayf" O‘zbekistonda chet ellik mutaxassis tomonidan tashkil etilgan ilk EKU klinikasi bo‘ldi. Ekstrakorporal urug‘lantirish – ko‘pchilik befarzand juftliklarning ota-ona bo‘lish orzusini ro‘yobga chiqarishga yordam beruvchi zamonaviy usuldir.</p>
              </div>
            </div>
            <div class="card  mb-3" style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header" ><strong>Jihozlar</strong></div>
              <div class="card-body">
                <h5 class="card-title" style="text-align:left;">Germaniya va Turkiyadan keltirilgan jihozlar</h5><hr><img width="35%" style="float:left" src="{% static 'images/baby6.png' %}"  class="w-1" alt="placeholder" >
                <p class="card-text" style="text-align:left;">Klinika Germaniya va Turkiyadan keltirilgan zamonaviy EKU laboratoriya bilan jihozlangan. Barcha turdagi qonuniy ruxsat berilgan tibbiy reproduktiv xizmatlarni amalga oshiradi. "Galereya" va "Videolar" sahifasida EKU laboratoriyamiz haqida foto va videolavhalarni tomosha qilishingiz mumkin.</p>
              </div>
            </div>
            <div class="card mb-3" style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
                <div class="card-header" style="font-size:2.5vw;"><strong>Mohir xodim</strong></div>
              <div class="card-body">
                <h5 class="card-title" style="text-align:left;"><strong>Bashak Karakoyun</strong></h5><hr><img width="35%" style="float:right" src="{% static 'images/baby7.png' %}"  class="w-1" alt="placeholder">
                <p class="card-text" style="text-align:left;">Klinikada Turkiyalik tajribali embriolog Bashak Karakoyun ham faoliyat yuritadi. U o‘z ish faoliyati davomida 9000 dan ziyod EKU va boshqa turdagi muoalajalarning laboratoriya qismida ishtirok etgan. </p>
              </div>
            </div>
            <div class="card  mb-3"  style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header"><strong>Reproduktolog</strong></div>
              <div class="card-body">
                <h5 class="card-title"><strong>Nilufat Kabilova</strong></h5><hr>
                <p class="card-text"  style="text-align:left;">Klinika reproduktologi va ginekologi<img width="35%" style="float:left" src="{% static 'images/baby8.png' %}"  class="w-1" alt="placeholder" > Nilufar Kabilova xorijlik mutaxassis Meksikalik reproduktolog Letisiya Burgos bilan bir yil davomida yonma-yon ishlab reproduktologiya sohasida tajriba orttirgan. </p>
              </div>
            </div>
            <div class="card  mb-3"  style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header" >Reproduktolog va Ginekolog</div>
              <div class="card-body">
                <h5 class="card-title"><strong>Lola Shaxna</strong></h5>
                <p class="card-text" style="text-align:left;">Klinikamizda reproduktolog va ginekolog Lola Shaxna Turkiyada doktor Jixangir Chakiji ishlaydigan klinikada <img width="35%" style="float:right" src="{% static 'images/baby9.png' %}"  class="w-1" alt="placeholder" >faoliyat yuritish bilan birga O‘zbeksitonga safarlar uyushtiradi, pasientalarni davolaydi va klinika koordinatori sifatida ham ish olib boradi.</p>
              </div>
            </div>
            <div class="card mb-3"  style="font-family:sans-serif;color:white;background:rgba(27, 86, 42,1);width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header"><strong>EKU</strong></div>
              <div class="card-body">
                <p class="card-text" style="text-align:left;"><img width="35%" style="float:left" src="{% static 'images/angel1.png' %}"  class="w-1" alt="placeholder" >EKU muolajalari o‘tkazish uchun pasient kilinikada yotib qolmaydi. Bu muolaja qatnab turib amalga oshiriladi. </p>
              </div>
            </div>
            <br>
            <hr>
                <div class="card mb-3"  style="font-family:sans-serif;color:white;background-color:black;width: 85%;margin:5% 5%;padding:3%;border:1px solid black;">
              <div class="card-header" style=""><strong>Ota Onalik</strong></div>
              <div class="card-body">
                <h5 class="card-title"  style="text-align:left;">Ota-ona bo‘lish – bebaho ne'mat, shubhasiz barcha insonlar bunga loyiq.</h5>
                  <p class="card-text"  style="text-align:left;">Sizning tashvishingizni umidga, umidingizni ro‘yobga chiqarish uchun sizni kutamiz!</p>
              </div>
            </div>
            </center>
        </div>

        {% include 'list.html'  %}
            <hr>
        {% include 'pictures.html'%}
        <hr>
        {% include 'map.html'%}
        {% include 'newwin.html'%}
    </div>
{% endblock content %}