{% load static %}


<div id="footer">
    <div class="pnumber" style="width:47%;float:left;padding-top:0.5% !important;margin:0 6%;text-align:left;">

        <a style=" color:white;font-weight:bold;font-family:sans-serif;text-decoration:none;" href="tel:+998 95 514 11 22"><img width="8%" height="8%" src="{% static 'images/greenm.png' %}"> +998 95 514 11 22</a><br>
        <a style=" color:white;font-weight:bold;font-family:sans-serif;text-decoration:none;" href="tel:+998 95 514 22 11 "><img width="8%" height="8%" src="{% static 'images/greenm.png' %}"> +998 95 514 22 11</a><br>
        <br>
        <a style=" color:white;font-weight:bold;font-family:sans-serif;text-decoration:none;" href="https://goo.gl/maps/vVTfARKi65z6EFBK7"><img width="8%" height="8%" src="{% static 'images/locationg.png' %}"> 42А Kichik Beshyog'och ko'chasi Тошкент 100021</a>
    </div>



    <div class="lenta">
        <br>

        <a href="tel:+998 95 514 11 22"><img src="{%static 'images/greenm.png'%}"></a>
        <a href="https://www.instagram.com/ankalife_tashkent"><img src="{% static 'images/instagram.png' %}"></a>
        <a href="https://t.me/ankalife_eco"><img src="{% static 'images/telegram.png' %}"></a>
        <a href="https://www.youtube.com/channel/UC8jkAF8wKywDxRoV3418XSQ" target="blank"><img src="{% static 'images/youtube1.png' %}"></a>
        <a href="https://www.facebook.com/ankalife.uz"><img src="{% static 'images/facebook.png' %}"></a>

    </div>
    <div class="clr"></div>

    <hr>
    <p style="padding-bottom:1%;">CopyRight &copy: Ankalife(2022-2025)</p>
</div>



