{% extends 'main.html' %}
{% load static %}
{% block content %}




    <div style="background-color:white; padding-left:5%; padding-right:5%;padding-bottom:5%;" class="hodim1">



        <div class="hodim2">
            <div style="font-family:sans-serif;" class="rasm">
                <br>
                <h1 style="color:white;padding:1.5%;font-size:3.5vw;background-color:#14263e;border-radius:30px"><strong>Mohir doktorlar haqida qisqacha</strong></h1>
                <div style="padding-left:15%; padding-top:10%; padding-bottom:1%;">
                    <img src="{%static 'images/mrchikan2.jpg' %}" style="width:40%; height:40%; border-radius:10%; border:2px solid grey;background-color:white;">
                    <img src="{%static 'images/mrchikan1.JPG' %}" style="float:right;width:55%; height:40%; border-radius:10%; border:2px solid grey;background-color:white;">
                </div>
                <br>
                    <h1><strong>Doktor Jixangir Chakiji</strong><br><spin style="font-size:2.6vw;">(Reproduktolog, EKU mutaxasisi)</spin> </h1>
                <br>
                <p style="padding-left:15%">
                  <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="color:white;background-color:#1b562a;width:40%; font-size:2.7vw; border-radius:20px;border:1px solid blue;">Umumiy ma'lumotlar</a>
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2" style="color:white;background-color:#1b562a;width:40%; font-size:2.7vw; border-radius:20px;border:1px solid blue;">Ish faoliyati</button>
                </p>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="card card-body" style="font-family:sans-serif;margin-left:5%;color:white; background:rgba(27, 86, 42,0.9);;border-radius:25px;">
                      <p style="font-size:1.9vw;">Doktor Jixangir Chakiji <br> Website: <a href="https://www.cihangircakici.com/" ><strong style="color:white;">Dr.Cihangir Çakici</strong></a> <br>1983 yilda Anqarining Xojattepa Universiteti tibbiyot fakul'tetini tamomlagan.<br>  1985−90 yillarda G‘ozi Universitetida Akusherlik va Ginekologiya bo‘yicha ixtisos sohibi bo‘ldi.<br> ️1990 yilda “Akusherlik va Ginekologiya” ixtisosligi bo‘yicha magistr unvoni oldi.<br>  1995 yilda dosent ilmiy unvonini oldi.<br>️ Akusherlika va Ginekologiya, Reproduktologiya yo‘anlishi bo‘yicha Yevropaning bir qator mamlakatlarida malaka oshirgan va konferensiya hamda seminarlarda ma'ruzalar bilan qatnashgan.<br>  1991-2008 yillarda Turkiyaning bir qator nufuzli davlat va xususiy klinikalarida akusher-ginekolog va reproduktolog sifatida mehnat qildi.<br>  2008 yil Anqarada Ankalayf EKU klinikasini tashkil qilgan va reproduktolog sifatida faoliyat yuritgan.<br>

️                       2019 yil Toshkentda Ankalayf EKU va ayollar salomatligi markazi tashkil qildi.<br>

 ️                      Professor Jixangir Chakiji 36 yillik ish tajribasiga ega, shu kunga qadar 5000 dan ziyod EKU muolajasi o‘tkazgan.<br>

                                                Ingliz tilini mukammal va rus tilini o‘rta darajada biladi.</p>

                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                  <div class="card card-body" style="font-size:1.9vw;font-family:sans-serif; margin-right:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                      <p>
                      1991-1996 yil “Anqara” klinikasi.<br>
                      1992-1994 Anqara Ginekologlar Jamiyati bosh kotibi.<br>
                      1994-1995 Turkiya Ginekologlar Jamiyati bosh kotibi.<br>
                      1995 yilda dosent ilmiy unvonini olgan.<br>
                      1996-1999 “Bayindir” klinikasi Ekstrakorporal Urug‘lantirish bo‘limi direktori.<br>
                      2000 yilda Anqarada ayollar sog‘lik markazini ochdi.<br>

                      2007 yilda Anqarada “ Ankalayf” Ekstrakorporal Urug‘lantirish (EKU) markazini ochdi.<br>
                      2015 yilda Bishkekda “Ankalayf” Ekstrakorporal Urug‘lantirish (EKU) va ayollar salomatligi markazini ochdi.<br><img width="50%" style="float:right" src="{% static 'images/garshok.png' %}"  class="w-1" alt="placeholder" >

                      2019 yilda Toshkentda “Ankalayf” Ekstrakorporal Urug‘lantirish (EKU) va ayollar salomatligi markazini ochdi.<br>
                      </p>
                  </div>
                </div>
              </div>
            </div>
        </div>

<!--here you second content starts and it should be another persons data-->

        <hr>
        <div class="hodim2">
            <div>
                <div style="padding-left:15%; padding-top:2%;padding-bottom:1%;">
                    <img src="{% static 'images/Bashak8.jpg' %}" style="width:50%; height:40%; border-radius:10%;border:2px solid grey;">
                    <img src="{% static 'images/Bashak12A.jpg' %}" style="float:right;width:30%; height:40%; border-radius:10%;border:2px solid grey;">

                </div>
                <br>
                <h1><strong>Bashak Karakayun</strong> <br><spin style="font-size:2.6vw;"> (embriolog)</spin></h1>
                <br>
                <p style="padding-left:15%">
                  <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample3" style="color:white;background-color:#1b562a; width:40%; font-family:sans-serif;font-size:2.7vw; border-radius:20px;border:1px solid blue;" >Umumiy ma'lumotlar</a>
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample3" style="color:white;background-color:#1b562a;width:40%; font-family:sans-serif;font-size:2.7vw; border-radius:20px;border:1px solid blue;">Ish faoliyati</button>
                </p>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                  <div class="card card-body" style="font-family:sans-serif; margin-left:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                      <p style="font-size:1.9vw;">Embriolog va biolog, 10 yildan ortiq ish tajribasiga ega.<br>  2003 yilda Turkiyada “Tabiiy va Gumanitar fanlar” fakultetini biolog mutaxassisligi bo‘yicha bitirgan.<br>  2004 - 2005 yilda “Gametalar va Embrionlar kriokonservaciyasi” EKU nazariy va amaliy seminarda ishtirok etdi.<br>  2004 - 2015 yilda biolog sifatida ishladi (Anqara,Turkiya).<br>  2015 yildan boshlab Bishkekdagi “Ankalayf“ Ekstrakorporal urug‘lantirish markazida ishlaydi.</p><br>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                  <div class="card card-body" style="font-family:sans-serif;font-size:2.3vw; margin-right:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                      <p>Hozirda Toshkentdagi Ankalayf EKU va Ayollar salomatligi markazida embriolog sifatida faoliyat yuritmoqda.<br><img width="50%" style="float:right" src="{% static 'images/cute.png' %}"  class="w-1" alt="placeholder" > Rus va ingliz tillarini muloqot darajasida biladi.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>


<!--        third info about doctors-->
        <hr>

        <div class="hodim2">
            <div>
                <div style="padding-left:15%; padding-top:2%;padding-bottom:1%;">
                    <img src="{% static 'images/nil.jpg' %}" style="width:45%; height:40%; border-radius:10%;border:2px solid grey;">
                    <img src="{% static 'images/Doktorlar.jpg' %}" style="float:right;width:45%; height:40%; border-radius:10%;border:2px solid grey;">
                </div>
                <br>
                <h1><strong>Nilufar Qobilova</strong><br><spin style="font-size:2.6vw;">(Reproduktolog,ginekolog)</spin></h1>
                <br>


                <p style="padding-left:15%">
                  <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample5" style="color:white;background-color:#1b562a;border:1px solid blue;width:40%; font-size:2.7vw; border-radius:20px;">Umumiy ma'lumotlar</a>
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6" style="color:white;background-color:#1b562a;border: 1px solid blue;width:40%; font-size:2.7vw; border-radius:20px;">Ish faoliyati</button>
                </p>

            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample5">
                  <div class="card card-body" style="font-style:san-serif;font-size:2.3vw;  margin-right:5%; background-left:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                      <p>
                           Ginekologiya sohasida 10 yildan ortiq ish tajribasiga ega, “Akusherlik va Ginekologiya” mutaxassisligi bo‘yicha 2-toifali shifokor<br>

Telegram kanali: <a href="https://t.me/ginekologim" ><strong style="color:white">Ginekologim</strong></a><br>

Tug‘ilgan sanasi: 1981 yil<br>

TAHSILI:<br>

Toshkent Tibbiyot Akademiyasi, Davolash fakul'teti, 1999-2006 yy.<br>

Toshkent Vrachlar Malakasini Oshirish instituti, “Kichik yoshdagi va o‘smir qizlar ginekologiyasi” yo‘nalishi, klinik ordinatura, 2006-2008 yy.<br>

Toshkent Vrachlar Malakasini Oshirish instituti, “Ambulator sharoitda akusherlik va ginekologiya” mutaxassisligi kursi, 2012-2013<br>

Toshkent Vrachlar Malakasini Oshirish instituti, “O‘smir qizlarning ginekologik kasalliklarini tashxislash va davolash standartlari” kursi, 2012-2013<br>

Toshkent Vrachlar Malakasini Oshirish instituti, “Kol'poskopiya” kursi, 2014<br>

Toshkent Vrachlar Malakasini Oshirish instituti, “Erkak va ayol bepushtlik muammolarida yordamchi reproduktiv texnologiyalarni tadbiq qilish imkoniyatlari” mavzuiy malaka oshirish kursi, 2019
                      </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample6">
                  <div class="card card-body" style="font-style:san-serif; font-size:2.3vw; margin-right:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                    <p>
                       ️ISh TAJRIBASI:<br>

 Toshkent viloyati ko‘p tarmoqli markaziy kasalxonasi, Ginekolog, 2009-2017 yy.

 “Medicine Connected” xususiy klinikasi, Konsul'tant-ginekolog, 2017- 2019

 “Sayfulloh-Ota Shifo” (S.O.SH.-medical) xususiy klinikasi, Konsul'tant-ginekolog, 2019 fevral-may

"Ankalayf" ayollar salomatligi va EKU markazi, Konsul'tant-ginekolog,  2019 may - hozirgacha,<br>

️KASBIY MAHORATI:<br>

 Ayol-qizlarda kichik tos sohasi a'zolari kasalliklarini, jinsiy yo‘l orqali yuqadigan kasalliklarni, birlamchi va ikkilamchi bepushtlikni, bachadon bo‘yni kasalliklarini, endokrin patalogiyali kasalliklarni tashxislash va davolash, bachadon ichi vositalarini qo‘yish va olib tashlash, to‘g‘ri kontrasepsiya tayinlash, kol'poskopiya, bachadon ichi inseminasiyasi, ovulyasiya induksiyasi, gidrokontrast sonografiya muolajalarini o‘tkazish, EKU (ekstrakorporal urug‘lantirish) ga bemorlarni tayyorlash<br>

️QO‘ShIMChA MALAKALAR:<br>

 Til:<br> Rus, Ingliz va Turk tillari, takomillashgan daraja<br>

️QIZIQISh SOHASI:<br>

 Ginekologiya, Reproduktologiya, EKU, PGS, Embriologiya, Oila psixologiyasi, Tibbiy etika, Isbotlashga asoslangan tibbiyot
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="hodim2">
            <div style="">
                <div style="padding-left:15%; padding-top:2%;padding-bottom:1%;">
                    <img src="{% static 'images/lola1.jpg' %}" style="width:40%; height:40%; border-radius:10%;border:2px solid grey;">
                    <img src="{% static 'images/Lola_2.jpg' %}" style="float:right;width:40%; height:40%; border-radius:10%;border:2px solid grey;">
                </div>
                <br>
                <h1><strong>Lola Alisherovna Shaxna</strong><br><spin style="font-size:2.6vw;">(Reproduktolog,ginekolog)</spin> </h1>
                <br>

                <p style="padding-left:15%">
                  <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample7" role="button" aria-expanded="false" aria-controls="multiCollapseExample7" style="color:white;background-color:#1b562a;font-family:san-serif;width:40%; font-size:2.7vw; border-radius:20px;border:1px solid blue;">Umumiy ma'lumotlar</a>
                  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample8" aria-expanded="false" aria-controls="multiCollapseExample8" style="color:white;background-color:#1b562a;font-family:san-serif;width:40%; font-size:2.7vw; border-radius:20px;border:1px solid blue;">Ish faoliyati</button>
                </p>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample7">
                  <div class="card card-body" style="font-family:sans-serif;font-size:2.3vw; margin-left:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                    <p>
                        2007 yilda Toshkent Tibbiyot Akademiyasining davolash fakul'tetini tugatdi.<br> 2010 yilda Toshkent Tibbiyot Akademiyasining “Akusherlik va Ginekologiya” ixtisosligi bo‘yicha magistraturani muvaffaqiyatli tugatdi.<br> Hozirgi kunda Turkiyada istiqomat qiladi va Ekstrakorporal urug‘lantirish va ayollar salomatligi markazida ishlaydi (Anqara, Turkiya).<br> Rus va turk tillarini mukammal biladi.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample8">
                  <div class="card card-body" style="font-size:2.3vw;font-family:sans-serif;margin-right:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                    <p>
                        Akusher-ginekolog, O‘zbekistondagi “Ankalayf” EKU va Ayoallar salomatligi markazining tibbiy koordinatori (Anqara, Turkiya).
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <h1 style="color:white;padding:1.5%;font-size:4vw;background-color:#14263e;border-radius:30px;margin:5% 0;"><strong>Va boshqa hodimlar</strong></h1>


        <div class="hodim3">
            <div>
                <div style="padding-left:15%; padding-top:2%;padding-bottom:1%;">
                    <img src="{% static 'images/Menejer1.jpg' %}" style="width:38%; height:40%; border-radius:10%;border:2px solid grey;">
                    <img src="{% static 'images/Sanitarka1.jpg' %}" style="width:50%; height:40%; border-radius:10%;border:2px solid grey;margin-left:10%;">
                    <img src="{% static 'images/Registratura1.jpg' %}" style="width:50%; height:40%; border-radius:10%;border:2px solid grey;margin-top:10%;">
                    <img src="{% static 'images/Hamshiralar_.jpg' %}" style="margin-left:5%;width:35%; height:40%; border-radius:10%;border:2px solid grey;margin-top:10%;">
                    <img src="{% static 'images/hamma.jpg' %}" style="margin-left:10%;width:60%; height:40%; border-radius:10%;border:2px solid grey;margin-top:10%;">

                </div>
                <br>
                <h1><strong>Barcha hodimlar haqida</strong> <br><spin style="font-size:2.5vw;">(Menejer,xamshira,registratura va sanitarkalar)</spin></h1>
                <br>

                <p style="padding-left:40%">
                  <a class="btn" data-bs-toggle="collapse" href="#multiCollapseExample9" role="button" aria-expanded="false" aria-controls="multiCollapseExample9" style="color:white;background-color:#1b562a;font-size:2.5vw;font-family:san-serif;width:50%; font-size:2.3vw; border-radius:20px;border:1px solid blue;">Umumiy ma'lumotlar</a>
                </p>
            </div>
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample9">
                  <div class="card card-body" style="font-size:2.3vw; margin-right:5%; background-left:5%;color:white; background:rgba(27, 86, 42,0.9);border-radius:25px;">
                      <ul>
                          <li><strong>Nargiza Qurvanxo'jaeva </strong> (Ankalife menedjeri)</li>
                          <br>
                          <li><strong>Nodira,Komila va Mamlakat</strong> (Ankalife xamshiralari)</li>
                          <br>
                          <li><strong>Dilnoza va Rano</strong> (Ankalife qabulxona hodimlari)</li>
                          <br>
                          <li><strong>Dilsora va Dildora</strong> (Ankalife sanitarkalari)</li>


                      </ul>
                    <p></p>
                  </div>
                </div>
              </div>
            </div>
        </div>


    </div>

    {% include 'map.html'%}

    {% include 'newwin.html'%}
{% endblock content %}
