{%load static%}
<h1 style="color:white;width:80%;font-size:4vw;background-color:#14263e;padding:5px;border-radius:30px"><strong>Biz taklif etadigon hizmatlar</strong></h1>

<div style="margin:0 14%;margin-bottom:5%;background-color:white;color:black;" class="stylea">


  <hr>
  <br>
    <ul class="list-group">
      <li class="list-group-item" style="padding-left:10%;color:white;background-color:white;color:black;">
        <strong>Bepushtlikni tashxislash va davolash</strong>
      </li>
      <li class="list-group-item" style="padding-left:10%;color:white;background-color:white;color:black;">
        <strong>EKU (ayollar va erkaklar bepushliklarida)</strong>
      </li>
      <li class="list-group-item" style="padding-left:10%;color:white;background-color:white;color:black;">
        <strong>IKSI</strong>
      </li>
      <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;" >
        <strong>TESA</strong>
      </li>
      <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>TESE</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>ESA</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>MESA</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>Implantasiyaoldi genetik tashxis (IGT- rus. PGD)</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>Ovulyatsiya induksiyasi (tuxumdonlar stimulyasiyasi)</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>Ul'tratovush tekshiruvi (UZI)</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>Sperogramma</strong>
      </li>
        <li class="list-group-item" style="padding-left:10%;background-color:white;color:black;">
        <strong>Ginekolog maslahatlari</strong>
      </li>
    </ul>


</div>









