{% extends 'main.html' %}

{% load static %}
{% block content %}
    <div class="results">

<!--        from here second slide starts -->


        <div class="card mb-5" style="width: 80%; margin:0% 11%;background-color: white;border-radius:50px;">
          <div class="row g-0" style="padding-top:3%;">
            <div class="col-md-6">
              <img src="{% static 'images/shoxsanam3.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif; color:white;border-radius:5px;">
              <div class="card-body" >
                  <h2 class="card-title"><strong>Uch egizaklar</strong></h2>
                  <hr>
                <p class="card-text"><strong>UCh EGIZAKLAR TUG‘ILDI! (Troyna)</strong><br>
                 (TESA+EKU)

                Shu yil aprel oyida TESA va EKU natijasida homilador bo‘lgan  N.Sh. ismli pasientimiz  <strong>bir yo‘la UCh EGIZAKLI (2 QIZ VA 1 O‘G‘IL)</strong>  bo‘lgani haqida xushxabar oldik.

                Pasientimiz 26 yosh, 5 yil bo‘lgan turmushlariga.</p>
              </div>
            </div>
          </div>
        </div>
        <hr>


<!--second slide for -->


        <div class="card mb-5" style="width: 80%; margin:6% 11%;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{% static 'images/shaxnoza.jpg' %}" class="img-fluid rounded-start" alt="..." style="height:90%;">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif; color:white;border-radius:5px;">
              <div class="card-body" style="">
                  <h2 class="card-title"><strong>Yana egizaklar tug'ildi</strong></h2><hr>
                    <p class="card-text">
                        Kuni kecha shu yili  fevral oyida EKU muolajasi o‘tkazilib homilador bo‘lgan Yo.D. ismli pasientimiz  ham EGIZAK FARZANDLI  bo‘lgani haqida xushxabar oldik.
                        Pasientimiz 28 yosh, ikkinchi turmush, 2 yil bo‘lgan turmushlariga.<br>

                        Boshqa dardiga davo izlashda davom etayotgan barcha pasientlarimizga ham shunday kunlar nasib qilishini chin ko‘ngildan tilaymiz.
                    </p>


              </div>
            </div>
          </div>
        </div>

        <hr>


<!-- this third slide of this page -->




        <div class="card mb-5" style="width: 80%; margin:6% 11%;">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{% static 'images/samarqand.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif; color:white;border-radius:5px;">
              <div class="card-body" style="">
                  <h2 class="card-title"><strong>Ota ona bo'lish qanday zo'r</strong></h2><hr>
                  <p class="card-text">

                       12 oktyabrda Professor Jixangir ChAKIJI Samarqandda o‘tkazgan konsul'tasiyada Samarqand ahlining va  STD klinika xodimlarining ko‘rsatgan katta ehtiromlari uchun chuqur minnatdorchilik bildiradi. <br>

                        Konsul'tasiya asnosida uch kun oldin fevraldagi EKU natijasida homilador  bo‘lgan  <br> samarqandlik S.N. ismli (25 yosh, 5 yil bo‘lgan turmushlariga) pasientimiz EGIZAK FARZANDLI bo‘lganligi quvonchidan uning yaqinlari Jixangir Chakijini qutlagani kelishdi va.


                  </p>
              </div>
            </div>
          </div>
        </div>
        <hr>

<!--fourth slide starts from here-->




        <div>
            <div class="embed-responsive embed-responsive-6by9 z-depth-1-half" style="position:relative;padding-bottom:56.25%;overflow:hidden;" onclick="this.play()">
                    <iframe onclick="this.play()" style="position:absolute;top:90px;left:11%;width:80%;height:80%;border-radius:10px;" src="{% static 'images/iqbol_2_tg.mp4' %}"  title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
            </div>
            <div class="card" style="left:11%;width: 80%;">

                <div class="card-body" style="background:rgba(27, 86, 42,1); color:white;font-family:sans-serif;border-radius:5px;">
                    <h5 class="card-title" style="font-size:2.5vw;text-align:center;"><strong>Yana uch egizak</strong></h5>
                    <p class="card-text"><strong style="text-align:center;">EGIZAKLAR</strong><br>
                    <img src="{% static 'images/triple3.png' %}" class="d-block w-40" alt="placeholder" style="border-radius: 15%;width:30%;float:right;">

                        O‘tgan hafta EKU muoalajsi o‘tkazilganlardan aprel  oyida homilador bo‘lgan A.I.<br>  (34 yosh, ikkilamchi bepushtlik muddat 12-yil) ismli pasientimiz klinikaga tashrif buyurdi va UTT o‘tkazdik.

                    <br>Natija: 11 haftalik va UCh (!) EGIZAK!  Albatta hamma yaxshiliklar Allohdan. O‘ziga cheksiz shukrlar bo‘lsin!!!.

                </div>
            </div>

        </div>
<hr>
<!--   fifth slide starts starts from here     -->




        <div class="card mb-5" style="width: 80%; margin:6% 11%;background-color:#dbdbdb">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{% static 'images/mehribon.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif;color:white;border-radius:5px;">
              <div class="card-body" style="">
                  <h2 class="card-title"><strong>Ota onalik hammaga nasib qilsin</strong></h2><hr>
                  <p class="card-text">
                    Kuni kecha o‘tgan yili oktyabr oyida EKU muolajasi o‘tkazilib homilador bo‘lgan <br> M.M. ismli pasientimiz  FARZANDLI  bo‘lgani haqida xushxabar oldik.
                  </p>
              </div>
            </div>
          </div>
        </div>

            <hr>

<!-- sixth slide starts from here -->


      <div class="card mb-5" style="width: 80%; margin:6% 11%;background-color:#dbdbdb">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{% static 'images/lobar.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif; color:white;border-radius:5px;">
              <div class="card-body" style="">
                  <h2 class="card-title"><strong>Yana egizaklar tug'ildi</strong></h2><hr>
                  <p class="card-text">
                  Kuni kecha o‘tgan yili oktyabr oyida EKU muolajasi o‘tkazilib homilador bo‘lgan <br> M.M. ismli pasientimiz  FARZANDLI  bo‘lgani haqida xushxabar oldik.

                  </p>
              </div>
            </div>
          </div>
        </div>
        <hr>


<!--        seventh slide starts from here-->




        <div class="card mb-5" style="width: 80%; margin:6% 11%;background-color:#dbdbdb">
          <div class="row g-0">
            <div class="col-md-6">
              <img src="{% static 'images/Charos_1.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6" style="border-radius:25px;background:rgba(27, 86, 42,1);font-family:sans-serif;color:white;border-radius:5px;">
              <div class="card-body" style="">
                  <h2 class="card-title"><strong>Ular xursandichilikni bizlar bo'lishdilar</strong></h2><hr>
                  <p class="card-text">

                      Bugun klinikamizga o‘tgan yili EKU muolajasi o‘tkazib farzandli bo‘lgan Charos S. ismli pasientimiz (27 yosh, 4 yil bo‘lgan turmushlariga) tashrif buyurdilar. Ular xursandichilikni bizlar bilan, biz esa sizlar bilan bo‘lishishni istadik.

                        Yana bir qiziq tomoni, bu pasientimizda muzlatilgan embrionlari ham qolgan zahirada. Kelgusida yana farzandli bo‘lish uchun foydalanishlari mumkin.

                        Albatta hamma yaxshiliklar Allohdan. O‘ziga cheksiz shukrlar bo‘lsin!!!.

                  </p>
              </div>
            </div>
          </div>
        </div>


<!--  end of all slides -->
<hr>
        <div style="background-color:#14263e;color:white;margin:3% 10%;padding:6%;border:2px solid red;" class="recommendation">
            <h1 style="text-align:center;"><strong>Bo'lajak ota onalar</strong></h1>
            <p style="font-family:sans-serif;">Bilamiz hamma ham birdek ota onalik baxtiga sazovor bo'la olmaydi lekin harakatdan to'htamaslik kerak chunki hech narsa o'z o'zidan kelib qolyamdi masalan mana bu
            tepada ko'rsatilgan bemorlarimiz ham oldin shunday tushkunlikda tushib yurishar edi lekin mana ota onalik baxtini qanday ekanligini sezishmoqda
            <strong>siz ham bizga bir marta imkon bering</strong> zero biz ham sizga ota onalik baxtini bera olamiz.</p>
        </div>




        {% include 'map.html' %}
        {% include 'newwin.html'%}
    </div>
{% endblock content %}
