
{%load static %}
<h1 style="color:white;width:80%;font-size:4vw;background-color:#14263e;border-radius:30px;padding:5px;"><strong>Bizning akademik sertifikatlar</strong></h1>
<br>

<div id="footer1" style=";color:white;text-align:center;font-family:sans-serif;margin:5%';">



    <div class="lenta1">
        <br>

        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{%static 'images/diplom.png'%}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom1.jpg' %}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom2.jpg' %}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom3.jpg' %}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom4.jpg' %}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom5.jpg' %}">
        <img style="float:left;margin-top:3% !important;width:23%;height:23%;margin:0 5%;border-radius:5px;border:5px solid gray;" src="{% static 'images/diplom6.jpg' %}">

    </div>
    <div class="clr"></div>

    <hr>
</div>